#It's lately
*term2/
Parag/
Special/

#In/output files
cmake-build-debug/
cmake-build-release/
gtest/
*.in
*.out
*.txt

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

#Idea
.gradle/
.idea/
cmake-build-debug/
obj/
bin/
build/
out/

#CodeBlocks
*.cbp
*.depend
*.layout
