#It's lately
*examples/
*jstest/
*base/
*cljtest/
*test/
*target/
Special/

#Paradigms
Paradigms/HW*/*
!Paradigms/HW*/src/
Paradigms/HW11/*
RunJS*
probably*
BaseTest*
core*
examples*
RunClojure*
!CalcMD5.java
!CalcSHA256.java
!functionalExpression.js
!objectExpression.js
!Paradigms/Tests/*/*
!Paradigms/Tests/artifacts/*/*

#In/output files
cmake-build-debug/
cmake-build-release/
gtest/
*.in
*.out
*.txt
*.class
*.jar

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

#Idea
.gradle/
.idea/
cmake-build-debug/
obj/
bin/
build/
out/

#CodeBlocks
*.cbp
*.depend
*.layou