.news-box {
    border: 1px solid var(--border-color);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    width: 80%;
    margin: 0 auto;
}

.news-box .header {
    border-bottom: 1px solid var(--border-color);
    color: var(--caption-color);
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.news-box .field {
    margin: 1.5rem 0;
    overflow: hidden;
}

.news-box .field .name {
    margin-left: 1.5rem;
    float: top;
}

.news-box .field .value {
    width: 93%;
}

.news-box .field textarea {
    margin: 0 1.5rem;
    width: 100%;
}

.news-box .button-field {
    margin: 1.5rem;
    margin-left: 20rem;
}

.news-box .button-field input {
    padding: 0.1rem 1.5rem;
}